{
    "presets": [
        ["@babel/env", {
            "targets": {
                "browsers": ["last 2 versions"],
                "node": "current"
            },
            "loose": true
        }],
        "@babel/typescript"
    ],
}
